.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding: 20px;
  background: linear-gradient(to right, #3b82f6, #9333ea);
}

.greeting-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  max-width: 380px;
}


.content-box {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 500px;
  
}

h1 {
  font-size: 2rem;
  color: #333;
}

p {
  font-size: 1.2rem;
  color: #555;
}

.cpp {
  color: rgb(236, 74, 74);
  font-weight: bold;
}

.sql {
  color: orange;
  font-weight: bold;
}

.unity {
  color: rgb(173, 173, 4);
  font-weight: bold;
}
.js {
  color: rgb(6, 179, 6);
  font-weight: bold;
}
.ts {
  color: rgb(17, 233, 222);
  font-weight: bold;
}
.shell {
  color:rgb(83, 71, 255);
  font-weight:  bold;
}
.java {
  color:purple;
  font-weight: bold;
}

.learn-more {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background: #3b82f6;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s;
}

.learn-more:hover {
  background: #2563eb;
}

.floating-about-button {
  margin-top: 20px;
  margin-left: 100px;
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 5px 15px rgba(255, 75, 43, 0.4);
}

.floating-about-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 20px rgba(255, 75, 43, 0.6);
}

.floating-about-button:active {
  transform: scale(0.95);
}

.language-toggle-button {
  position: fixed;
  bottom: 15px;
  left: 15px;
  padding: 10px 15px;
  background-color: #7285f0;
  font-weight: bold;
  color: rgb(253, 253, 253);
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  z-index: 1000;
}


.language-toggle-button:hover {
  background-color: #3b82f6;
}

.user-count {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background: linear-gradient(135deg, #ff9800, #ff5722);
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(255, 87, 34, 0.4);
  text-align: center;
  margin-left: 50px;
  display: inline-block;
  animation: fadeIn 1s ease-in-out;
}
.user-count-container {
  display: flex;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
